
.buttonContainer {
  position: relative;
  width: 100%;

  &.active {
    .button {
      color: #be1e2d;
    }
  }
}

.button {
  background: none;
  border: none;
  box-shadow: 4px 4px 4px -1px rgba(66, 68, 90, 1);
  width: 100%;
  font-size: 12px;
  padding: 10px;
}